@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500&family=Montserrat&display=swap');
main {
    font-family: Lora;
    color: #fff;
    min-height: 100vh;
    background: var(--clr-bg);
    padding: 2.4rem 1.2rem;
    position: relative;
}

footer {
    font-family: Montserrat;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A9A9A9 ;
    bottom: 2.4rem;
    padding-top: 4rem;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    
}

@media (min-width:70em) {
    main {
        padding: 4rem 8.5rem;
    }
}